.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header);
}

.title {
    margin-left: 1rem;
    font-size: 2rem;
    line-height: 1rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand-btn, .collapse-btn {
    background-color: var(--header);
    font-size: 1.8rem;
    margin: 0 1rem;
    border: none;
}

button:hover {
    cursor: pointer;
}