.App {
  text-align: center;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#editor-wrap,
#previewer {
  box-shadow: 0 0 1rem black;
  background-color: var(--textarea);
  width: 48vw;
}