.App {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#editor-wrap,
#previewer {
  box-shadow: 0 0 1rem black;
  background-color: var(--textarea);
  width: 47vw;
}

.hidden {
  display: none;
}